
/* .slideshow-container {
    width: 100%;
    margin: auto;
  }
  
  .slick-prev:before, .slick-next:before {
    color: black;
  }
  
  .slick-slide img {
    width: 100%;
    display: block;
    margin: auto;
  }
   */

/*  
.slideshow-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
  }
  
  .slick-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border: none;
  }
  

  .slick-prev:before, .slick-next:before {
    color: black;
  }
   */


   /* src/Slideshow.css */

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full screen height */
    overflow: hidden;
  }
  
  .slick-slide img {
    width: 100%;
    height: 100vh; /* Full screen height */
    object-fit: cover;
  }
  
  .slick-prev:before, .slick-next:before {
    color: black;
  }
  
  .slick-prev, .slick-next {
    z-index: 1;
  }
  